.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #302f2fb4;
    border-radius: 2rem;
    padding-right: 1.5rem;

    span {
        font-size: 3rem;
        font-weight: bold;
    }
    
    img {
        width: 10rem;
        height: 6rem;
    }
}