@import '../../scss/variables';

.main {
    .list-title {
        font-size: 4rem;
        text-align: center;
        color: $blanco;
    }

    .soon {
        margin: 0 auto;
        font-size: 3rem;
        padding: 3rem;
        background-color: $negro;
        text-align: center;
        color: #ffffff;
        border: $bordeCeleste;
        border-radius: 2rem;
        max-width: 60rem;

        @media (max-width: 768px) {
            width: 80vw;
        }
    }
}