@import '../../scss/variables';

.main {
    h1 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5rem;
        color: $blanco;
        background: -webkit-linear-gradient(to right, #ffffff, $colorPrincipal);
        background: linear-gradient(to right, #ffffff, $colorPrincipal);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; 
    }

    .soon {
        margin: 0 auto;
        font-size: 3rem;
        padding: 3rem;
        background-color: $negro;
        text-align: center;
        color: #ffffff;
        border: $bordeCeleste;
        border-radius: 2rem;
        max-width: 60rem;

        @media (max-width: 768px) {
            width: 80vw;
        }
    }
}

.loading {
    text-align: center;
    padding-top: 5rem;
    font-size: 5rem;
}