@import '../../scss/variables';

header {
    color: $blanco;
    position: sticky;
    top: 0;
    background-color: #7d7a7a;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 7rem;

    @media (max-width: 768px) {
        gap: 2rem;
        justify-content: center;
        padding: 1rem;
    }

    .navbar-logo {
        width: 14rem;
        height: 8rem;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        list-style: none;

        .nav-item {
            display: inline-block;

            &:hover .submenu {
                display: flex;
            }

            li {
                display: block;
                color: $blanco;
                font-size: 2.5rem;
                cursor: pointer;
                font-family: $fuenteTextos;

                &:hover {
                    color: $colorPrincipal;
                }
            }
        }

        .submenu {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #7d7a7a;
            display: none;

            .submenu-item {
                padding: 1rem; 
            }
        }
    }
}