@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');


/* Colores */

$colorPrincipal: #26acee;
$negro: #000000;
$blanco: #ffffff;

/* Fuentes */

$fuenteTitulos: 'Permanent Marker', cursive;
$fuenteTextos: 'Peralta', cursive;
